{% extends 'base.html.twig' %}

{% block title %}{{ 'label.please_sign_in'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.edit_info'|trans }}</h1>
    <a class="btn btn-primary" href="{{ url('user_change_email') }}" title=" {{ 'action.edit'|trans }}">
        {{ 'action.edit_mail'|trans }}
    </a>
    <a class="btn btn-primary" href="{{ url('user_change_password') }}" title="{{ 'action.edit_password'|trans }}">
        {{ 'action.edit_password'|trans }}
    </a>
{% endblock %}